.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 40px 0px 40px 0px;
	border-bottom: 1px ridge;
	min-height: 250px;
}

.footer{
	background-color: #2343;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #1346;
	color: floralwhite;
}

address{
	font-size: 80%;
	margin: 0px;
	color: #3425;
}

body{
	padding: 50px 0px 0px 0px;
	z-index: 0px;
}

.navbar-inverse{
	background-color: #065f9b4d;
	text-align: center;
}